html {
  background: white; /* For browsers that do not support gradients */
 
  background: -webkit-linear-gradient(45deg, white, rgba(255,255,100,1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg, white, rgba(255,255,100,1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg, white, rgba(255,255,100,1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg, white, rgba(255,255,100,1)); /* Standard syntax */
  height: 100vh;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: green;
    color: yellow;
}

* {
	font-family: 'Open Sans', 'sans-serif';
}
